apipkg==1.4
appdirs==1.4.3
coverage==4.3.4
Django==1.11
djangorestframework==3.6.2
execnet==1.4.1
packaging==16.8
py==1.4.33
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.0.7
pytest-cov==2.4.0
pytest-cover==3.0.0
pytest-coverage==0.0
pytest-django==3.1.2
pytest-sugar==0.8.0
pytest-xdist==1.16.0
pytz==2017.2
six==1.10.0
termcolor==1.1.0
